@tailwind base;
@tailwind components;
@tailwind utilities;



/* base rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--white-color);
    font-family:  "Poppins", sans-serif;
}

html,body{
    font-size: 62.5%;
    background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: capitalize;
    color: white;
    letter-spacing: .1rem;
}
p{
    text-transform: capitalize;
    color: white;
    letter-spacing: .1rem;
}
/* theme */
/* layout */
.container-div{
    width: 100%;
    height: auto;
    padding: .8rem 2.5rem;
}
/* module/reuseable */
 .icons {
    height: 5rem;
    aspect-ratio: 1;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color3);

    & :active{
        scale: 1.2;
    }

}


/* states */

.content-section::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
.content-section::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.379);
}
body::-webkit-scrollbar{
    display: none;
}

@media (width<=320px) {
    .container-div{
    padding: .4rem 1rem;
}
}
@media (width<=768px) {
    .container-div{
    padding: .6rem 1.2rem;
}
}